@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1300px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
    min-width: 370px;
    position: relative;
    background: #003147;
    padding: 40px;
}

.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.profileText .imageBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgbx .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #b6c3c9;
    font-size: 1.5em;
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
}

.profileText span {
    font-size: 0.7em;
    font-weight: 100;
}

.contactInfo {
    padding-top: 40px;
    padding-bottom: 60px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #b6c3c9;
}

.contactInfo ul li .text a {
    display: inline-block;
    text-decoration: none;
    color: #b6c3c9;
}

.contactInfo ul li .text {
    display: inline-block;
    text-decoration: none;
    color: #b6c3c9;
}

.title {
    color: #b6c3c9;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.Education {
    padding-top: 40px;
    padding-bottom: 60px;
}

.Education ul {
    list-style: none;
}

.Education h3 {
    position: relative;
    color: #b6c3c9;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.Education h4 {
    color: #b6c3c9;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.Education h5 {
    font-size: 1.2em;
    color: #b6c3c9;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}